<!-- Footer -->
<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="col-3 col-6-medium col-12-small">
                    <section class="widget links">
                        <h3>Documents</h3>
                        <ul class="style2">
                            <li><a href="#"></a></li>
                            <li><a href="/docs/InteractiveCustomerForm.pdf" target="_blank">Repair Service Agreement</a></li>
                        </ul>
                    </section>
            </div>
            <div class="col-3 col-6-medium col-12-small">
                    <section class="widget contact last">
                        <h3>Socials</h3>
                        <ul>
                            <li><a href="https://www.facebook.com/people/Hall-Circuits-LLC/61586984288717/" target="_blank"" class="icon brands fa-facebook-f"><span class="label"></span></a></li>
                            <li><a href="https://www.linkedin.com/company/hallcircuits" target="_blank" class="icon brands fa-linkedin"><span class="label"></span></a></li>
                            <li><a href="https://www.instagram.com/hallcircuits/" target = "_blank" class="icon brands fa-instagram"><span class="label"></span></a></li>
                            <li><a href="https://www.youtube.com/@HallCircuits" target="_blank" class="icon brands fa-youtube"><span class="label"></span></a></li>
                            <li><a href="https://www.twitch.tv/hallcircuits" target="_blank" class="icon brands fa-twitch"><span class="label"></span></a></li>
                        </ul>
                        <p> Email: {{site.email}}<br>Phone: {{site.number}}</p>
                    </section>
                </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; 2026 Hall Circuits LLC. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>