<!-- Header -->
<div id="header-wrapper">
    <header id="header" class="container" style="text-align: center;">
        <div id="logo">
            <img src="/images/logo_bw.png" alt="" style="height: 5em; vertical-align: middle; margin-right: 0.5em;">
            <h1>
                <i><b>Hall Circuits</b></i>
            </h1>
        </div>
        <!-- <nav id="nav">
            <ul>
                <li class="{% if page.url == "/" %}current{% endif %}">
                    <a href="/">Home Page</a>
                </li>
            </ul>
        </nav> -->

    </header>
</div>